<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title class="config:app-title">App Title</title>
        <link class="helpers:favicon?path=resources/img/Favicon_Kreuz.ico"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta class="config:app-meta"/>
        <link class="helpers:app-root" rel="stylesheet" href="resources/css/bootstrap.min.css"/>
        <link class="helpers:app-root" rel="stylesheet" href="resources/css/styles.css"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-1.11.2.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/bootstrap.min.js"/>
        <script class="helpers:script?path=$shared/resources/scripts/loadsource.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/script.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-ui.min.js"/>
        <link href="http://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" type="text/css"/>
    </head>
    <body id="body">
        <div id="side">
            <div>
            <!--    <div class="page:createNavigationMain"/>-->
            </div>
            <div id="content" class="container"/>
        </div>
    </body>
</html>